#root{
  overflow: hidden;
}
.container{
  width: 96vw;
  height: auto;
  margin: auto;
  color: red;
  font-size: 38px;
  border:'1px solid black'
}
.resize_component{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.componentThree{
  margin-top: 1000px;
  max-width: 95vw;
  max-height: 500px;
}